body {
  margin: 0;
}

.open {
  background-color: rgb(71, 55, 223);
  color: white;
  padding: 5px 25px;
  border-radius: 5px;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 10px;
  box-shadow: 0 2px 2px rgb(115, 130, 145);
}

.modal {
  border: 1px solid rgba(0, 0, 0, 0.795);
  border-radius: 5px;
  padding: 20px 50px;
  text-align: center;
  position: absolute;
  left: 50vh;
  right: 50vh;
  top: 150px;
  height: 200px;
  background-color: white;
}

.noButton {
  width: 85px;
  padding: 5px 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  background-color: rgb(238, 83, 66);
  border: 1px solid rgb(238, 83, 66);
  border-radius: 4px;
  font-size: 20px;
  box-shadow: 0 1px 3px 0.5px rgb(115, 130, 145);
}

p {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}

.modalContainer {
  min-height: 100vh;
}

body.isOpen {
  background-color: rgba(0, 0, 0, 0.795);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.noButton:focus,
.open:focus {
  outline: none;
}

.modal.hidden {
  display: none;
}
