button {
  font-size: 20px;
  height: 45px;
  width: 160px;
}

button:hover {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgray;
}

#head {
  background-color: black;
  color: white;
}
